.black {
    border: 1px solid #a7a7a7;
    background-color: black;
    width: 60px;
    height: 60px;
    position: relative;
}
.white {

    border: 1px solid #a7a7a7;
    background-color: white;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-top: -30px;
    margin-left: 30px;
}