h1 {
    background: #569099;
    padding: 10px;
    color: #fff;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
}
p {
    background: #cad8d0;
    padding: 10px;
    margin-top: 0;
    margin-right:  0;
    margin-left:  0;
}