.bat {
    border: 3px solid;
    width: 150px;
    height: 70px;
    position: relative;
    margin-bottom: 10px;
}
.bat::before, .bat::after {
    content: '';
    position: absolute;
}
.bat::after {
    height: 15px;
    width: 10px;
    background: black;
right: -10px; top: 25px;
}
.bat::before {
    height: 100%;
}
.low::before{
    background: red;
    width: 33%;
}
.middle::before{
    background: yellow;
    width: 66%;
}
.high::before{
    background: green;
    width: 100%;
}


