.id1 {
    background: #c6ffa8;
    border-radius: 8px 8px 0 0;
    width: 200px;
    font-size: 25px;
    box-shadow: 0 3px 2px 0 #C6FFA8,
    -2px 0 2px 0  #bbbbbb,
    0 -2px 2px 0 #bbbbbb,
    2px 0 2px 0 #bbbbbb;
    position: absolute;
margin-top: -28px;
}
.id2 {
    background: #c6ffa8;
    width: 500px;
    height: 200px;
    box-shadow: 0 0 5px 2px #bbbbbb;
    margin-top: 40px;

}