body {
    background-color: #2d1082;
}
form {
    width: 400px;
    height: 400px;
    background-color: #666181;
    margin: 50px;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid;
    box-shadow: 1px 1px 1px 1px #fdff6e;
    color: white;
}
.in1{
    width: 230px;
}
.in2{
    width: 204px;
}
.in3{
    width: 215px;
}
.in4{
    width: 225px;
}
input:invalid + span:before {
    content: url("http://htmlbook.ru/example/images/nook.png");
    padding-left: 5px
}
input:valid + span:after {
content: url("http://htmlbook.ru/example/images/ok.png");
padding-left: 5px;
}
