form {
    border: 4px solid #5b7f9e;
    width: 400px;
    height: 220px;
    background: #4f7fe8;
    color: white;
    margin: 50px;
    padding: 10px 0 0 10px;
}
h1 {line-height: 5px}
hr {margin-left: -5px;
    width: 100%;
}
label {
    font-size: 20px;
}
.email {
    width: 86%;
}
.pas {
    display: inline-block;
}
.two {
    display: inline-block;
}
.sub {height: 30px;
    background: #ffdd00;

}
input:hover {
    box-shadow: inset 0 0 2px #ffed61;
}